@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Inter+Tight&family=Work+Sans&display=swap");

* {
  text-align: center;
  justify-content: center;
  font-family: "Inter Tight", sans-serif;
  box-sizing: border-box;
}

.main-title {
  color: rgb(0, 150, 255);
  font-size: 3rem;
}

// Style for To Do List Items
.task-list {
  padding-right: 5vh;
  list-style-type: none;
  cursor: pointer;
  margin: 0 35vw;

  //   li {
  //     margin: 10px 0px;
  //     font-family: "Barlow", sans-serif;
  //     font-size: 30px;
  //     border: 2px rgb(0, 150, 255) solid;
  //     border-radius: 5px;
  //     display: flex;
  //     height: 50px;
  //     align-items: center;
  //   }

  //   li div {
  //     padding-left: 1vw;
  //     display: flex;
  //     height: 50px;
  //     align-items: center;
  //     padding-top: 5px;
  //   }
}

.task-icons {
  padding: 0 5px;
  font-size: 20px;
}

.list-items {
  display: flex;
  border: 2px rgb(0, 150, 255) solid;
  border-radius: 5px;
  margin: 15px 0;
  align-items: center;
  li {
    margin: 0px 15px;
    font-family: "Barlow", sans-serif;
    font-size: 28px;
    height: auto;
    padding-bottom: 0.5vh;
  }
}

.check {
  color: rgb(0, 150, 255);
}

.remove {
  color: red;
}

.priority {
  padding-bottom: 0.3vh;
}

// Style for User Input, Adding Tasks

input {
  text-align: left;
  height: 5vh;
  border-radius: 5px;
  width: 20vw;
  font-size: 24px;
}

#input-label {
  font-weight: 600;
}

.input-btns {
  display: flex;
}

.add-task {
  background-color: rgb(0, 150, 255);
  color: white;
  border: 1px black solid;
  border-radius: 5px;
  padding: 10px;
}

// Style for Tasks Count
.num-tasks {
  font-family: "Work Sans", sans-serif;
}

.task-number {
  color: rgb(0, 150, 255);
}

// Style for Completed Bar

.completed {
  display: flex;
  p {
    font-family: "Inter Tight", sans-serif;
    font-size: 30px;
  }
}

.completed-bar {
  border: 1px grey solid;
  margin: 0 40vw;
}

.list-arrows {
  padding-top: 3.5vh;
  padding-left: 30px;
  font-size: 28px;
  cursor: pointer;
}

.complete-list-items {
  display: flex;
  list-style-type: none;
  li {
    text-decoration: line-through;
    margin: 0px 15px;
    font-size: 28px;
    font-family: "Barlow", sans-serif;
  }
}

.undo-task {
  font-size: 24px;
  padding-top: 0.7vh;
  color: rgb(92, 163, 98);
  cursor: pointer;
}

.complete-list {
  display: none;
}

.completed-num {
  color: rgb(92, 163, 98);
}

// Style for Sub Tasks List
.sub-task-items {
  display: flex;
}

.sub-task-lists {
  list-style-type: none;
}

// 2. Mobile Design

@media screen and (max-width: 450px) {
  .main-title {
    font-size: 2rem;
  }
  .completed-bar {
    margin: 0;
  }
  #input,
  .add-task {
    transform: scale(120%);
  }

  input {
    width: 52vw;
    font-size: 16px;
    margin-left: 3vw;
  }

  .add-task {
    margin-left: 6vw;
  }

  .list-arrows {
    padding-top: 3vh;
    font-size: 30px;
  }

  .list-items li,
  .complete-list li {
    font-size: 1.1rem;
  }

  .task-list {
    margin: 0;
  }

  .task-icons {
    font-size: 18px;
  }

  .completed {
    p {
      font-size: 26px;
    }
  }

  .undo-task {
    font-size: 18px;
    padding-top: 0.5vh;
  }
}

// 3.Ipad Design

@media screen and (min-width: 450px) and (max-width: 1200px) {
  body {
    font-size: 1.5rem;
  }

  #input,
  .add-task {
    transform: scale(150%);
  }

  input {
    width: 39vw;
    margin-left: 6vw;
    font-size: 20px;
    height: 3vh;
  }

  .add-task {
    margin-left: 11.2vw;
    height: 3vh;
    padding: 0.5vh;
  }

  .completed-bar {
    margin: 0;
  }

  .list-items li,
  .complete-list-items li {
    font-size: 1.8rem;
  }

  .completed,
  .completed p {
    font-size: 2rem;
  }

  .list-arrows {
    padding-top: 3.5vh;
    font-size: 48px;
  }

  .undo-task {
    font-size: 32px;
    padding-top: 0.5vh;
  }

  .task-list {
    margin: 0 10vw;
  }

  .task-icons {
    font-size: 26px;
  }

  .list-items {
    margin: 35px 0;
  }
}
